# systems and apps
.vscode/
.stignore
.env
.env.test
.env.prod
env/
wsl-env/

# python
__pycache__/
**/__pycache__/
*.py[cod]

# Project specific
**/*.xls
**/*.xlsx
**/*.xlsm
OUTPUTS/
INPUTS/
RESOURCES/
IN-DEV/
ap_proc.bat
ap_serv.bat
ap-proc.sh
ap-serv.sh
tx.sap
test*.ahk
test*.py
**/log.txt
cSpell.json

# Node Specific
node_modules
package.json
package-lock.json

