<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AP MM EXTENSION BUSINESS ENGINE</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container-md d-flex justify-content-center flex-column">
      <h1>AP MM EXTENSION BUSINESS ENGINE</h1>
      <h2>Main menu:</h2>
      <ul>
        <li>Get current requests</li>
        <li>Generate MIF / SOERF requests</li>
        <li>Update Material Statuses pre MM</li>
        <li>Generate AM Price & PCE requests</li>
        <li>Update Material Statuses post MM Extension</li>
        <li>Generate PM CCC, Localization & GTS Requests</li>
        <li>UTILITY: Bring SAP Data</li>
        <li>UTILITY: Clean DESKTOP folder</li>
        <a href="/ms_check">UTILITY: Check for MIF/SOERF submitted</a>
        <li>
          UTILITY: Check for daily report uploaded to Sharepoint Repository
        </li>
        <li>Update program</li>
        <li>Close program</li>
      </ul>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
