<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AP MM EXTENSION BUSINESS ENGINE</title>
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/reset.css') }}"">
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
    crossorigin="anonymous"
    />
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/index.css') }}">
  </head>
  <body>
    <div class="container-md d-flex justify-content-center flex-column">
      <h1>AP MM EXTENSION BUSINESS ENGINE</h1>
      <h2>Main menu:</h2>
        <a href="/requests" class="menu-option">Get current requests</a>
        <a href="/mif_soerf" class="menu-option">Generate MIF / SOERF requests</a>
        <a href="/am_status" class="menu-option">Update Material Statuses pre MM</a>
        <a href="/am_emails" class="menu-option">Generate AM Price & PCE requests</a>
        <a href="/reconcile_pce" class="menu-option">Reconcile PCE / Update ORG Source</a>
        <a href="/pm_status" class="menu-option">Update Material Statuses post MM Extension</a>
        <a href="/pm_emails" class="menu-option">Generate PM CCC, Localization & GTS Requests</a>
        <h3>DATA</h3>
        <a href="/get_sap_data" class="menu-option">DATA: Download SAP Data</a>
        <a href="/proc_sap_data" class="menu-option">DATA: Bring SAP Data</a>
        <h3>UTILITY</h3>
        <a href="/clean_desktop" class="menu-option">UTILITY: Clean DESKTOP folder</a>
        <a href="/mif_soerf_check" class="menu-option">UTILITY: Check for MIF/SOERF submitted</a>
        <a href="/check_daily_report" class="menu-option">
          UTILITY: Check for daily report uploaded to Sharepoint Repository
        </a>
        <a href="/open_sap" class="menu-option">UTILITY: Open SAP Instance</a>
        <h3>APP</h3>
        <a href="/update" class="menu-option">Update program</a>
        <!-- <li>Close program</li> -->
      </ul>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
